.quiz-container {
  max-width: 500px;
  margin: 40px auto;
  text-align: center;
  padding: 25px;
  font-family: Arial, sans-serif;
  background: darkslategrey;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Pregunta */
.quiz-container h2 {
  margin-bottom: 20px;
}

/* Contenedor de respuestas */
.quiz-container div {
  display: flex;
  flex-direction: column;
}

/* Botones de opciones */
.option {
  width: 100%;
  margin: 8px 0;
  padding: 14px;
  border: none;
  background: grey;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.25s ease; 
  font-size: 16px;
}

/* Hover solo si no ha respondido */
.option:hover:not(:disabled) {
  transform: scale(1.02);
}

/* Botón deshabilitado */
.option:disabled {
  cursor: not-allowed;
  opacity: 0.9;
}

/* Respuesta correcta */
.correct {
  background-color: #28a745;
  color: black;
  font-weight: bold;
}

/* Respuesta incorrecta */
.wrong {
  background-color: #dc3545;
  color: black;
  font-weight: bold;
}

/* Botón siguiente */
.next-btn {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: #007bff;
  color:  black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.25s ease;
}

.next-btn:hover {
  background: #0056b3;
  transform: scale(1.05);
}

/* Resultado final */
.result {
  text-align: center;
}

.result h2 {
  margin-bottom: 15px;
}

.result button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #28a745;
  color: black;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.result button:hover {
  background: #1e7e34;
}